<!-- <nav>
  <input type="text" [(ngModel)]="busqueda" required />
  <button (click)="mostrarValorBusqueda()">submit</button>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Turismo</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <form
        class="d-flex"
        [formGroup]="formularioReactivo"
        (ngSubmit)="nuevaBusqueda(formularioReactivo.value)"
      >
        <input
          class="form-control me-2"
          type="text"
          placeholder="Buscar"
          aria-label="Buscar"
          formControlName="query"
        />
        <button
          class="btn btn-outline-success"
          type="submit"
          [disabled]="formularioReactivo.invalid"
        >
          Buscar
        </button>

        <div class="dropdown">
          <button
            class="btn btn-outline-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ formularioReactivo.get("sort").value ?? "Ordenar por:" }}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li *ngFor="let opcion of ordenarPorOpciones">
              <a class="dropdown-item" (click)="establecerOrden(opcion.value)">
                {{ opcion.label }}
              </a>
            </li>
          </ul>
        </div>

        <div class="input-group">
          <span class="input-group-text">Radio</span>
          <input
            type="number"
            class="form-control"
            aria-label="Radio"
            formControlName="radius"
            min="100"
            max="100000"
          />
        </div>

        <div class="input-group">
          <span class="input-group-text">Nro. Resultados</span>
          <input
            type="number"
            class="form-control"
            aria-label="Nro. Resultados"
            formControlName="limit"
            min="1"
            max="15"
          />
        </div>
      </form>
    </div>
  </div>
</nav>
