<div class="mx-5">
  <div class="row">
    <div class="col-2"></div>
    <div class="col">
      <div class="row">
        <div
          class="col-xl-4 col-sm-6 mb-2 d-flex align-items-stretch"
          *ngFor="let place of places$ | async"
        >
          <div class="card w-100">
            <div class="card-body">
              <div>
                <app-imagen-mapa
                  [lngLat]="[
                    place.geocodes.main.longitude,
                    place.geocodes.main.latitude
                  ]"
                ></app-imagen-mapa>
              </div>
              <h5 class="card-title">{{ place.name }}</h5>
              <p class="card-text">{{ place.location.formatted_address }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
